h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-weight: 500;
  font-size: 18px;
}
.container {
  margin: 0 auto;
  width: 300px;
  background-color: #f6f6f6;
}
.display {

}
.result-display {
  
}